.thumbnail-item {
  width: 52px;
  box-shadow: 0 0 1px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 3px;
}
.thumbnail-image {
  width: 100%;
  outline: none;
  cursor: pointer;
}
